body{background:#CCC;}

.navbar{border-radius:0; margin-bottom:5px;}.navbar {    margin-bottom: 0;    min-height: 70px;    padding-top: 10px;}.navbar-brand {    font-family: "Raleway",sans-serif;    font-weight: 900;}.navbar-header .navbar-brand {    color: white;}.navbar-pro .navbar-nav > li > a {    color: white;    font-size: 12px;    font-weight: 700;}.navbar-pro .navbar-nav > li > a:hover {    color: #00b3fe;}.navbar-pro .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {    background-color: transparent;    color: #00b3fe;}.navbar-pro {    background-color: #384452;    border-color: transparent;}
#blue {    background: none repeat scroll 0 0 #00b3fe;	margin-top: 60px;    padding-bottom: 25px;    padding-top: 25px;}#blue h3 {    color: white;    margin-left: 15px;}.60margin {  margin-top:60px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding-right: 5px;
  padding-left: 5px;}
  
  
  .row{margin:0;}
  
  h4 {
    border-top: 1px dotted #ccc;
    color: #444;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.topzero {
	margin-top:0;
}

.centered {
    text-align: center;
}


p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
}

.exp {
    padding-left: 15px!important;
    padding-right: 20px!important;
}
#adcopy-outer{margin-left:auto !important; margin-right:auto !important;}